# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GITHUB\python_projects\dacon-thickness-regression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
